In [2]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [12]:
df = pd.read_csv("data/FedCycleData.csv")
df.sample(5)

,ClientID,CycleNumber,Group,CycleWithPeakorNot,ReproductiveCategory,LengthofCycle,MeanCycleLength,EstimatedDayofOvulation,LengthofLutealPhase,FirstDayofHigh,...,Method,Prevmethod,Methoddate,Whychart,Nextpreg,NextpregM,Spousesame,SpousesameM,Timeattemptpreg,BMI
239,nfp8058,10,1,1,0,30,,15,15,11,...,,,,,,,,,,
762,nfp8168,9,0,1,0,29,,16,13,13,...,,,,,,,,,,
42,nfp8122,43,0,1,0,28,,15,13,8,...,,,,,,,,,,
1063,nfp8233,4,1,1,1,29,,25,4,18,...,,,,,,,,,,
851,nfp8177,4,0,1,0,25,,11,14,8,...,,,,,,,,,,

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1665 entries, 0 to 1664
Data columns (total 80 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ClientID                    1665 non-null   object
 1   CycleNumber                 1665 non-null   int64
 2   Group                       1665 non-null   int64
 3   CycleWithPeakorNot          1665 non-null   int64
 4   ReproductiveCategory        1665 non-null   int64
 5   LengthofCycle               1665 non-null   int64
 6   MeanCycleLength             1665 non-null   object
 7   EstimatedDayofOvulation     1665 non-null   object
 8   LengthofLutealPhase         1665 non-null   object
 9   FirstDayofHigh              1665 non-null   object
 10  TotalNumberofHighDays       1665 non-null   object
 11  TotalHighPostPeak           1665 non-null   object
 12  TotalNumberofPeakDays       1665 non-null   object
 13  TotalDaysofFertility        1665 non-null   object
 14  TotalFertilityFormula       1665 non-null   object
 15  LengthofMenses              1665 non-null   object
 16  MeanMensesLength            1665 non-null   object
 17  MensesScoreDayOne           1665 non-null   object
 18  MensesScoreDayTwo           1665 non-null   object
 19  MensesScoreDayThree         1665 non-null   object
 20  MensesScoreDayFour          1665 non-null   object
 21  MensesScoreDayFive          1665 non-null   object
 22  MensesScoreDaySix           1665 non-null   object
 23  MensesScoreDaySeven         1665 non-null   object
 24  MensesScoreDayEight         1665 non-null   object
 25  MensesScoreDayNine          1665 non-null   object
 26  MensesScoreDayTen           1665 non-null   object
 27  MensesScoreDay11            1665 non-null   object
 28  MensesScoreDay12            1665 non-null   object
 29  MensesScoreDay13            1665 non-null   object
 30  MensesScoreDay14            1665 non-null   object
 31  MensesScoreDay15            1665 non-null   object
 32  TotalMensesScore            1665 non-null   object
 33  MeanBleedingIntensity       1665 non-null   object
 34  NumberofDaysofIntercourse   1665 non-null   object
 35  IntercourseInFertileWindow  1665 non-null   object
 36  UnusualBleeding             1665 non-null   object
 37  PhasesBleeding              1665 non-null   object
 38  IntercourseDuringUnusBleed  1665 non-null   object
 39  Age                         1665 non-null   object
 40  AgeM                        1665 non-null   object
 41  Maristatus                  1665 non-null   object
 42  MaristatusM                 1665 non-null   object
 43  Yearsmarried                1665 non-null   object
 44  Wedding                     1665 non-null   object
 45  Religion                    1665 non-null   object
 46  ReligionM                   1665 non-null   object
 47  Ethnicity                   1665 non-null   object
 48  EthnicityM                  1665 non-null   object
 49  Schoolyears                 1665 non-null   object
 50  SchoolyearsM                1665 non-null   object
 51  OccupationM                 1665 non-null   object
 52  IncomeM                     1665 non-null   object
 53  Height                      1665 non-null   object
 54  Weight                      1665 non-null   object
 55  Reprocate                   1665 non-null   object
 56  Numberpreg                  1665 non-null   object
 57  Livingkids                  1665 non-null   object
 58  Miscarriages                1665 non-null   object
 59  Abortions                   1665 non-null   object
 60  Medvits                     1665 non-null   object
 61  Medvitexplain               1665 non-null   object
 62  Gynosurgeries               1665 non-null   object
 63  LivingkidsM                 1665 non-null   object
 64  Boys                        1665 non-null   object
 65  Girls                       1665 non-null   object
 66  MedvitsM                    1665 non-null   object
 67  MedvitexplainM              1665 non-null   object
 68  Urosurgeries                1665 non-null   object
 69  Breastfeeding               1665 non-null   object
 70  Method                      1665 non-null   object
 71  Prevmethod                  1665 non-null   object
 72  Methoddate                  1665 non-null   object
 73  Whychart                    1665 non-null   object
 74  Nextpreg                    1665 non-null   object
 75  NextpregM                   1665 non-null   object
 76  Spousesame                  1665 non-null   object
 77  SpousesameM                 1665 non-null   object
 78  Timeattemptpreg             1665 non-null   object
 79  BMI                         1665 non-null   object
dtypes: int64(5), object(75)
memory usage: 1.0+ MB

In [20]:
print("Total null values",sum(df.isna().sum()))
df.isna().sum()

Total null values 0

ClientID                0
CycleNumber             0
Group                   0
CycleWithPeakorNot      0
ReproductiveCategory    0
                       ..
NextpregM               0
Spousesame              0
SpousesameM             0
Timeattemptpreg         0
BMI                     0
Length: 80, dtype: int64

## Data types of each column

In [24]:
types = df.dtypes
columns = df.columns

list(zip(types, columns))

[(dtype('O'), 'ClientID'),
 (dtype('int64'), 'CycleNumber'),
 (dtype('int64'), 'Group'),
 (dtype('int64'), 'CycleWithPeakorNot'),
 (dtype('int64'), 'ReproductiveCategory'),
 (dtype('int64'), 'LengthofCycle'),
 (dtype('O'), 'MeanCycleLength'),
 (dtype('O'), 'EstimatedDayofOvulation'),
 (dtype('O'), 'LengthofLutealPhase'),
 (dtype('O'), 'FirstDayofHigh'),
 (dtype('O'), 'TotalNumberofHighDays'),
 (dtype('O'), 'TotalHighPostPeak'),
 (dtype('O'), 'TotalNumberofPeakDays'),
 (dtype('O'), 'TotalDaysofFertility'),
 (dtype('O'), 'TotalFertilityFormula'),
 (dtype('O'), 'LengthofMenses'),
 (dtype('O'), 'MeanMensesLength'),
 (dtype('O'), 'MensesScoreDayOne'),
 (dtype('O'), 'MensesScoreDayTwo'),
 (dtype('O'), 'MensesScoreDayThree'),
 (dtype('O'), 'MensesScoreDayFour'),
 (dtype('O'), 'MensesScoreDayFive'),
 (dtype('O'), 'MensesScoreDaySix'),
 (dtype('O'), 'MensesScoreDaySeven'),
 (dtype('O'), 'MensesScoreDayEight'),
 (dtype('O'), 'MensesScoreDayNine'),
 (dtype('O'), 'MensesScoreDayTen'),
 (dtype('O'), 'MensesScoreDay11'),
 (dtype('O'), 'MensesScoreDay12'),
 (dtype('O'), 'MensesScoreDay13'),
 (dtype('O'), 'MensesScoreDay14'),
 (dtype('O'), 'MensesScoreDay15'),
 (dtype('O'), 'TotalMensesScore'),
 (dtype('O'), 'MeanBleedingIntensity'),
 (dtype('O'), 'NumberofDaysofIntercourse'),
 (dtype('O'), 'IntercourseInFertileWindow'),
 (dtype('O'), 'UnusualBleeding'),
 (dtype('O'), 'PhasesBleeding'),
 (dtype('O'), 'IntercourseDuringUnusBleed'),
 (dtype('O'), 'Age'),
 (dtype('O'), 'AgeM'),
 (dtype('O'), 'Maristatus'),
 (dtype('O'), 'MaristatusM'),
 (dtype('O'), 'Yearsmarried'),
 (dtype('O'), 'Wedding'),
 (dtype('O'), 'Religion'),
 (dtype('O'), 'ReligionM'),
 (dtype('O'), 'Ethnicity'),
 (dtype('O'), 'EthnicityM'),
 (dtype('O'), 'Schoolyears'),
 (dtype('O'), 'SchoolyearsM'),
 (dtype('O'), 'OccupationM'),
 (dtype('O'), 'IncomeM'),
 (dtype('O'), 'Height'),
 (dtype('O'), 'Weight'),
 (dtype('O'), 'Reprocate'),
 (dtype('O'), 'Numberpreg'),
 (dtype('O'), 'Livingkids'),
 (dtype('O'), 'Miscarriages'),
 (dtype('O'), 'Abortions'),
 (dtype('O'), 'Medvits'),
 (dtype('O'), 'Medvitexplain'),
 (dtype('O'), 'Gynosurgeries'),
 (dtype('O'), 'LivingkidsM'),
 (dtype('O'), 'Boys'),
 (dtype('O'), 'Girls'),
 (dtype('O'), 'MedvitsM'),
 (dtype('O'), 'MedvitexplainM'),
 (dtype('O'), 'Urosurgeries'),
 (dtype('O'), 'Breastfeeding'),
 (dtype('O'), 'Method'),
 (dtype('O'), 'Prevmethod'),
 (dtype('O'), 'Methoddate'),
 (dtype('O'), 'Whychart'),
 (dtype('O'), 'Nextpreg'),
 (dtype('O'), 'NextpregM'),
 (dtype('O'), 'Spousesame'),
 (dtype('O'), 'SpousesameM'),
 (dtype('O'), 'Timeattemptpreg'),
 (dtype('O'), 'BMI')]

## BMI
There are lots of missing values in a form of empty string `" "`.

In [26]:
# Replace the empty string with NaN
df['BMI'] = df['BMI'].replace(" ", np.nan)
df['BMI'] = df['BMI'].astype(float) # ValueError: could not convert string to float: ' '

In [29]:
df.BMI.isnull().sum() / len(df)

0.9213213213213213

__92% null values in BMI column__

# Replace all the `" "` values with nan

In [32]:
df = df.replace(" ", np.nan)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1665 entries, 0 to 1664
Data columns (total 80 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ClientID                    1665 non-null   object
 1   CycleNumber                 1665 non-null   int64
 2   Group                       1665 non-null   int64
 3   CycleWithPeakorNot          1665 non-null   int64
 4   ReproductiveCategory        1665 non-null   int64
 5   LengthofCycle               1665 non-null   int64
 6   MeanCycleLength             141 non-null    object
 7   EstimatedDayofOvulation     1515 non-null   object
 8   LengthofLutealPhase         1514 non-null   object
 9   FirstDayofHigh              1407 non-null   object
 10  TotalNumberofHighDays       1653 non-null   object
 11  TotalHighPostPeak           1662 non-null   object
 12  TotalNumberofPeakDays       1649 non-null   object
 13  TotalDaysofFertility        1634 non-null   object
 14  TotalFertilityFormula       1663 non-null   object
 15  LengthofMenses              1661 non-null   object
 16  MeanMensesLength            141 non-null    object
 17  MensesScoreDayOne           1661 non-null   object
 18  MensesScoreDayTwo           1661 non-null   object
 19  MensesScoreDayThree         1640 non-null   object
 20  MensesScoreDayFour          1578 non-null   object
 21  MensesScoreDayFive          1231 non-null   object
 22  MensesScoreDaySix           603 non-null    object
 23  MensesScoreDaySeven         224 non-null    object
 24  MensesScoreDayEight         68 non-null     object
 25  MensesScoreDayNine          26 non-null     object
 26  MensesScoreDayTen           6 non-null      object
 27  MensesScoreDay11            2 non-null      object
 28  MensesScoreDay12            1 non-null      object
 29  MensesScoreDay13            1 non-null      object
 30  MensesScoreDay14            1 non-null      object
 31  MensesScoreDay15            1 non-null      object
 32  TotalMensesScore            1661 non-null   object
 33  MeanBleedingIntensity       110 non-null    object
 34  NumberofDaysofIntercourse   1664 non-null   object
 35  IntercourseInFertileWindow  1664 non-null   object
 36  UnusualBleeding             1645 non-null   object
 37  PhasesBleeding              106 non-null    object
 38  IntercourseDuringUnusBleed  82 non-null     object
 39  Age                         142 non-null    object
 40  AgeM                        142 non-null    object
 41  Maristatus                  142 non-null    object
 42  MaristatusM                 142 non-null    object
 43  Yearsmarried                131 non-null    object
 44  Wedding                     10 non-null     object
 45  Religion                    142 non-null    object
 46  ReligionM                   142 non-null    object
 47  Ethnicity                   141 non-null    object
 48  EthnicityM                  142 non-null    object
 49  Schoolyears                 135 non-null    object
 50  SchoolyearsM                134 non-null    object
 51  OccupationM                 141 non-null    object
 52  IncomeM                     139 non-null    object
 53  Height                      133 non-null    object
 54  Weight                      134 non-null    object
 55  Reprocate                   142 non-null    object
 56  Numberpreg                  142 non-null    object
 57  Livingkids                  142 non-null    object
 58  Miscarriages                139 non-null    object
 59  Abortions                   139 non-null    object
 60  Medvits                     142 non-null    object
 61  Medvitexplain               106 non-null    object
 62  Gynosurgeries               26 non-null     object
 63  LivingkidsM                 80 non-null     object
 64  Boys                        47 non-null     object
 65  Girls                       43 non-null     object
 66  MedvitsM                    139 non-null    object
 67  MedvitexplainM              60 non-null     object
 68  Urosurgeries                3 non-null      object
 69  Breastfeeding               142 non-null    object
 70  Method                      142 non-null    object
 71  Prevmethod                  30 non-null     object
 72  Methoddate                  32 non-null     object
 73  Whychart                    142 non-null    object
 74  Nextpreg                    142 non-null    object
 75  NextpregM                   141 non-null    object
 76  Spousesame                  142 non-null    object
 77  SpousesameM                 142 non-null    object
 78  Timeattemptpreg             142 non-null    object
 79  BMI                         131 non-null    float64
dtypes: float64(1), int64(5), object(74)
memory usage: 1.0+ MB

## List of feature which has missing values not more than 60%

In [58]:
null_percentages = df.isnull().mean() * 100
selected_features = null_percentages[null_percentages <= 90].index.tolist()
selected_df = df[selected_features]
selected_df.shape

(1665, 26)

In [63]:
selected_df.isnull().mean()

ClientID                      0.000000
CycleNumber                   0.000000
Group                         0.000000
CycleWithPeakorNot            0.000000
ReproductiveCategory          0.000000
LengthofCycle                 0.000000
EstimatedDayofOvulation       0.090090
LengthofLutealPhase           0.090691
FirstDayofHigh                0.154955
TotalNumberofHighDays         0.007207
TotalHighPostPeak             0.001802
TotalNumberofPeakDays         0.009610
TotalDaysofFertility          0.018619
TotalFertilityFormula         0.001201
LengthofMenses                0.002402
MensesScoreDayOne             0.002402
MensesScoreDayTwo             0.002402
MensesScoreDayThree           0.015015
MensesScoreDayFour            0.052252
MensesScoreDayFive            0.260661
MensesScoreDaySix             0.637838
MensesScoreDaySeven           0.865465
TotalMensesScore              0.002402
NumberofDaysofIntercourse     0.000601
IntercourseInFertileWindow    0.000601
UnusualBleeding               0.012012
dtype: float64